{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Rebecca Douglas</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/hero-bg.jpg'%}" rel="icon">
  <link href="{% static 'assets/img/hero-bg.jpg'%}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/" rel="preconnect">
  <link href="https://fonts.gstatic.com/" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css'%}" rel="stylesheet">


  <!-- Vendor CSS Files -->
  <link href="https://bootstrapmade.com/content/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://bootstrapmade.com/content/vendors/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="https://bootstrapmade.com/content/vendors/aos/aos.css" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
     <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="https://bootstrapmade.com/content/vendors/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="https://bootstrapmade.com/content/vendors/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="https://bootstrapmade.com/content/demo/MyResume/assets/css/main.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
        <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Rebecca Douglas Kwamboka</h1>
      <p>I'm a <span class="typed" data-typed-items="Designer, Auditor, Freelancer, Photographer, ISO Specialist, Consultant"></span></p>
      <div class="social-links">
        <a href="{{ pages.twitter_url }}" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="{{ pages.facebook_url }}" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="{{ pages.instagram_url }}" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="{{ pages.git_url }}" class="github"><i class="bx bxl-github"></i></a>
        <a href="{{ pages.youtube_url }}" class="github"><i class="bx bxl-youtube"></i></a>
        <a href="{{ pages.linkedin_url }}" class="linkedin"><i class="bx bxl-linkedin"></i></a>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p>{{ pages.about_us_short }}</p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="{{ pages.profile_img.url }}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>Lead Auditor &amp; Consultant.</h3>
            <p class="fst-italic">
              {{ pages.sub_welcome_text}}
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>26 July 2002</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Special Link:</strong> <span>https://t.me/ppfsignalz</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>{{ pages.phone }}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Kenya, Nairobi</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <!-- <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>20</span></li> -->
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bs.c BIT</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>{{ pages.email }}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p>
              {{ pages.about_us_long }}
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Facts</h2>
          <p>As a glimpse into my background, here are some noteworthy facts:</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{fact.happy_clients}}" data-purecounter-duration="1" class="purecounter"></span>
              <p>Happy Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{fact.project}}" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{fact.hours_of_support}}" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-award"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{fact.award_and_certifications}}" data-purecounter-duration="1" class="purecounter"></span>
              <p>Awards / Certification</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
          <p>As a dedicated professional, I take pride in mastering a variety of valuable skills:</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">
            {% for skills in skillleft %}
            <div class="progress">
              <span class="skill">{{skills.skill_title}} <i class="val">{{skills.skill_percent}}%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{skills.skill_percent}}" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            {% endfor %}

          </div>

          <div class="col-lg-6">
            {% for skills in skillright %}
            <div class="progress">
              <span class="skill">{{skills.skill_title}} <i class="val">{{skills.skill_percent}}%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{skills.skill_percent}}" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            {% endfor %}


          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
          <p>As a lover of what I do with a proven track record, my resume outlines my journey of growth and success.</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Rebecca Douglas Kwamboka</h4>
              <p><em>{{ pages.about_us_short }}</em></p>
              <ul>
                <li>{{ pages.location }}</li>
                <li>{{ pages.phone }}</li>
                <li>{{ pages.email }}</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            {% for edu in education %}
            <div class="resume-item">
              <h4>{{ edu.certificate }}</h4>
              <h5>{{ edu.year_range }}</h5>
              <p><em>{{ edu.school }}, {{ edu.location }}</em></p>
              <p>{{ edu.brief_description }}</p>
            </div>
            {% endfor %}

          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            {% for exp in experience %}
            <div class="resume-item">
              <h4>{{exp.experience}}</h4>
              <h5>{{exp.year_range}}</h5>
              <p><em>{{exp.organisation}}, {{exp.location}} </em></p>
              <p>
                {{exp.brief_description | safe }}
              </p>
            </div>
            {% endfor %}

          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Welcome to my portfolio, a reflection of my expertise and versatility. As a dedicated Auditor, consultant, and creative professional, this collection showcases my commitment to excellence across diverse domains. From conducting audits and ensuring compliance with ISO standards to crafting compelling proposals, designing visually engaging graphics, and managing all types of documents, my work reflects a blend of precision and creativity. Each project highlights my ability to solve problems, streamline processes, and deliver impactful results. Thank you for exploring my portfolio—I hope it inspires confidence in the quality and breadth of my services.</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-graphics">Graphic Design</li>
              <li data-filter=".filter-webapp">Web</li>
              <li data-filter=".filter-others">Others</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          {% for port in portfolio %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-{{port.category}}">
            <div class="portfolio-wrap">
              <img src="{{port.image.url}}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <p>{{port.category}}</p>
                <div class="portfolio-links">
                  <a href="{{port.image.url}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{port.link}}"><i class="bx bx-plus"></i></a>
                  <a href="{{port.link}}" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          

          
        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Welcome to my professional services, where excellence meets dedication.</p>
        </div>

        <div class="row">
          {% for serve in service %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-{{serve.icon_color}}">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="{{serve.icon_contor}}"></path>
                </svg>
                <i class="{{serve.icon}}"></i>
              </div>
              <h4><a href="{{serve.service_link}}">{{serve.service_title}}</a></h4>
              <p>{{serve.service_brief_description}}</p>
            </div>
          </div>
          {% endfor %}

          

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            {% for testimonies in client %}
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{{testimonies.picture.url}}" class="testimonial-img" alt="" >
                <h3>{{testimonies.full_name}}</h3>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  {{testimonies.quote}}
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row mt-1">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>{{pages.location}}</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>{{pages.email}}</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>{{pages.phone}}</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form method="post" role="form" id="php-email-form">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              
              <div class="text-center"><button type="submit" class="btn btn-primary">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Rebecca K. Douglas</h3>
      <p>Turning Younger Generations Into Assets not Liabilities.</p>
      <div class="social-links">
        <a href="{{ pages.twitter_url }}" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="{{ pages.facebook_url }}" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="{{ pages.instagram_url }}" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="{{ pages.youtube_url }}" class="google-plus"><i class="bx bxl-youtube"></i></a>
        <a href="{{ pages.git_url }}" class="google-plus"><i class="bx bxl-github"></i></a>
        <a href="{{ pages.linkedin_url }}" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Wisteen Technology</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
      
        Created by <a href="https://linkedin.com/in/wisteen">Wisdom Isaac Oku</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script data-cfasync="false" src="https://bootstrapmade.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="https://bootstrapmade.com/content/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://bootstrapmade.com/content/vendors/php-email-form/validate.js"></script>
  <script src="https://bootstrapmade.com/content/vendors/aos/aos.js"></script>
  <script src="https://bootstrapmade.com/content/vendors/typed.js/typed.umd.js"></script>
  <script src="https://bootstrapmade.com/content/vendors/purecounter/purecounter_vanilla.js"></script>
  <script src="https://bootstrapmade.com/content/vendors/waypoints/noframework.waypoints.js"></script>
  <script src="https://bootstrapmade.com/content/vendors/glightbox/js/glightbox.min.js"></script>
  <script src="https://bootstrapmade.com/content/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="https://bootstrapmade.com/content/vendors/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="https://bootstrapmade.com/content/vendors/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="https://bootstrapmade.com/content/demo/MyResume/assets/js/main.js"></script>

<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"8f6f639e7ef176a4","version":"2024.10.5","serverTiming":{"name":{"cfExtPri":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"token":"68c5ca450bae485a842ff76066d69420","b":1}' crossorigin="anonymous"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script type="text/javascript">
    // Show the loading message
    $('#loading').hide();
    // Show the success message
    $('#sent-message').hide();

      $(document).on('submit', '#php-email-form', function(e) {
    e.preventDefault();

    // Show the loading message
    $('#loading').show();

    // Create a reference to the form element
    const $form = $(this);

    // Disable the form submit button to prevent multiple submissions
    $form.find('button[type="submit"]').prop('disabled', true);

    // Serialize the form data
    const formData = $form.serialize();

    // Send the AJAX request
    $.ajax({
      type: 'POST',
      url: "{% url 'wisteen:contactUs' %}",
      data: formData,
      success: function(data) {
        // Hide the loading message
        $('#loading').hide();

        // Show the success message
        $('#sent-message').show();

        // Enable the form submit button again
        $form.find('button[type="submit"]').prop('disabled', false);
      },
      error: function(xhr, textStatus, error) {
        console.log(xhr.statusText);
        // Handle error response
        // Hide the loading message
        $('#loading').hide();

        // Enable the form submit button again
        $form.find('button[type="submit"]').prop('disabled', false);
      }
    });
    this.reset();
  });

  </script>

</body>

</html>